[Unit]
Description=ANAVI Daemon Service
After=pigpio.service
Requires=pigpio.service

[Service]
Type=simple
ExecStart=/usr/local/bin/anavid
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
